.box {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    align-items: center;    
}

#box1 {
    grid-area: box1;
    margin-left: auto;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
    margin-left: auto;
}

#box4 {
    grid-area: box4;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
